@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    width: 100%;
    overflow-x: hidden;
    
}

html
{
    overflow-x: hidden;
    width: 100%;
}


header
{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("netflix-img/images/header-image.png");
    background-size: cover;
    background-position: center;
    position: relative;

}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    margin-top: 18px;
    width: 200px;
    margin-left: 96px;
}

.mybtn
{
    margin-top: 10px;
    margin-right: 200px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

.mybtn button
{
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.eng
{
    background-color: transparent;
    width: 120px;
    color: #fff;
    border: 1px solid #fff;
}

.sign
{
    width: 60px;
    margin-left: 15px;
    width: 80px;
    padding: 20px;
    border: none;
    background-color: #39FF14;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.sign:hover{
    background-color: #1ca70e;
    color: white;
    transition: background-color 0.3s;
}

.globe
{
    float: left;
}

.arrow
{
    float: right;
    margin-right: 4px;
}

.header-content
{
    margin-top: 250px;
    text-align: center;
    color: white;
}

.header-content h1
{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900 bold;
    z-index: 2;
}

.first-p
{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    z-index: 2;
    margin-top: 9px;
}

.second-p
{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.header-bottom
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#myemail
{
    padding: 14px;
    width: 350px;
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.get-started
{
    font-size: 22px;
    padding: 13px;
    width: 190px;
    margin-left: 10px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    background-color: #39FF14;
    color: #000000;
    cursor: pointer;

}

input[type="email"]::placeholder
{
    color:#ffffff;
}

input[type="email"]:focus
{
    background-color:rgba(0, 0, 0, 0.5);

}

input[type="email"]:active
{
    background-color:rgba(0, 0, 0, 0.5);

}

.start-arrow
{
    margin-left: 5px;
}

#chevron-right
{
    height: 5px;
    width: 5px;
}

.get-started:hover{
    background-color: #1ca70e;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}


.items
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    /* background-color: #1ca70e; */

}

.items-image.two{
    margin-top: 160px;
    margin-bottom: 100px;
}

.items-content.two{
    margin-top: 160px;
    margin-bottom: 100px;
}



.items-content
{
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom:30px;
}

.items-image
{
    margin-top: 80px;
    margin-bottom:30px;

}



.items-content h2
{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900 bold;
    color: #ffffff;
}

.items-content p
{
    width: 600px;
    font-size: 1.5rem;
    font-family:'Poppins',sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-top: 15px;
    
}

.items-image img
{
    margin-left: 20px;
    width: 85%;
}

.uni-border
{
    width: 100%;
    border: 3px solid darkgray;
    
}

.feature-1
{
    opacity: 0;
    animation: fade-in 2s ease-in-out infinite;
}

@keyframes fade-in
{
    0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

.feature-2
{
    transform: scale(0);
    animation: scale-animation 2s ease-in-out infinite alternate;
}

@keyframes scale-animation
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
    }
}

.feature-3 {
    transform: translateX(-8%);
    animation: third-animation 2s ease-in-out infinite alternate;
}

@keyframes third-animation
{
    0%
    {
        transform: translateX(-8%);
    }

    100%
    {
        transform: translateX(8%);
    }
}

.feature-4
{
    height: 400px;
    transform: rotate(-60deg);
    animation: rotation 2s ease-in-out infinite alternate;
}

@keyframes rotation
{
    0%
    {
        transform: rotate(-60deg);
    }

    100%
    {
        transform: rotate(60deg);
    }
}

.faq
{
    color: #ffffff;
    padding: 100px 12%;
    height: 100%;
    background-color: #000000;
    text-align: center;
    font-size: 18px;
}

.faq h2
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
}

.faq-main
{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.faq-main li 
{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.faq-main li label
{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.faq-main li label::after
{
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 30px;
    transition: transform 0.3s;

}

input[type="radio"]
{
    display: none;
}

.faq-main .content 
{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow:hidden;
}

.faq-main input[type="radio"]:checked + label + .content
{
    max-height:600px;
    padding: 30px 20px;
}

.faq-main label:hover
{
    background-color: #525252;
    transition: all 0.5s ;
}

.second-p.second
{
    margin-top: -40px;
    margin-bottom: 20px;
}


footer
{
    color: #E8E8E8;
    padding: 50px 12%;
    height: 100%;
    background-color: #000000;
    font-size: 18px;
    
}

.footer-container
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family:'Poppins',sans-serif;
    font-size: 16px;
}

footer p
{
    margin-left: 10px;
    padding: 5px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    
}

.column
{
    margin-top: 20px;
    flex: 1;
    margin-right: 2px;
    
}

.row
{
    margin-bottom: 10px;   
}

.row a{
    color:#CCCCCC;
}

/* -------------Styles for screens max with 400px------------------- */
@media only screen and (max-width: 400px) {
    *
    {
        margin: 0px;
        padding: 0px;
    }

    header {
      height: 100%;
      background-position: top;
    }
    
    .logo {
      width: 150px;
      margin-left: 10px;
    }
    
    .mybtn {
      margin-right: -20px;
    }

    .eng
    {
        max-width: 100px;
        width: 100%;
    }

    .sign
    {
        width: 100%;
        max-width: 100px;
        margin-top: 10px;
        margin-left: -1px;
    }
    
    .header-content {
      margin-top: 30px;
    }
    
    .header-content h1 {
      font-size: 30px;
      text-align: center;
      padding: 40px;
    }
    
    .first-p {
      font-size: 15px;
      margin-top: -18px;
    }
    
    .second-p {
      font-size: 15px;
      margin-top: 5px;
      padding: 13px;
    }
    
    .header-bottom {
      flex-direction: column;
      align-items: center;
    }
    
    #myemail {
      width: 80%;
      margin-left: 0;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 14px;
    }
    
    .get-started {
      width: 40%;
      margin: 0;
      margin-bottom: 20px;
      font-size: 18px;
      border: none;
    }

    .items
    {
        flex-direction: column;
    }
    
    .items-content,
    .items-image {
      margin: 20px;
      text-align: center;
    }
    
    .items-content h2 {
      font-size: 30px;
    }
    
    .items-content p {
      width: 100%;
      font-size: 14px;
    }

    .feature-2
    {
        width: 20%;
        margin-top: -70px;
    }

    .feature-4
    {
        width: 20%;
        height: 40%;
        margin-top: -100px;
    }

    .items-content.two
    {
        margin-top: -30px;
        padding: 10px;
        margin-bottom: 40px;
    }

    .items.one,.items.three,.items.four,.items.two
    {
        padding: 20px;
    }

    .second-p.second {
        font-size: 15px;
        margin-top: 50px;
        padding: 13px;
      }

 .faq
{
    padding: 50px 12%;
    font-size: 10px;
    padding-bottom: 520px;
    margin-bottom: -380px;
}

.faq h2
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

.faq-main
{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.faq-main li 
{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.faq-main li label
{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.faq-main li label::after
{
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 30px;
    transition: transform 0.3s;

}

input[type='radio']
{
    display: none;
}

.faq-main .content
{
    font-size: 15px;
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}


.faq-main input[type='radio']:checked + label + .content
{
    max-height: 600px;
    padding: 30px 20px;
}

.faq-main input[type='radio']:checked + label::after
{
    transform: rotate(135deg);
}

.faq-main label:hover
{
    background-color: #525252;
    transition: all 0.5s ;
}

.get-started {
    width: 60%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
  }
    
  .footer-container
  {
    display: flex;
    flex-direction: column;
  }

  .column
  {
    margin-top:5px;
  }

  }

  /*-----------------------------------------------------------*/


  /* Styles for screens between 400px and 922px */
@media only screen and (min-width: 401px) and (max-width: 922px) {
    header {
      height: 100%; 
    }
  
    .logo {
      width: 120px; 
      margin-left: 5px;
      margin-top: 10px;
    }
  
    .mybtn {
      margin-right: 10px;
      display: flex;
    }
  
    .eng {
      max-width: 200px; 
      margin-right: 10px;
    }
  
    .sign {
      width: 90%; 
      max-width: 80px;
      margin-top: 0px; 
      margin-left: -1px;     
    }
  
    .header-content {
      margin-top: 20px; 
    }
  
    .header-content h1 {
      font-size: 32px; 
      text-align: center;
      padding: 60px; 
    }
  
    .first-p {
      font-size: 18px; 
      margin-top: -30px;
    }
  
    .second-p {
      font-size: 15px; 
      margin-top: -20px; 
      padding: 50px;
      margin-bottom: -20px;
    }
  
    .header-bottom {
      flex-direction: column;
      align-items: center;
    }
  
    #myemail {
    max-width: 300px;
      width: 100%; 
      margin-left: 0;
      margin-bottom: 10px; 
      padding: 8px; 
      font-size: 12px;
    }
  
    .get-started {
        max-width: 150px;
      width: 100%; /* Adjust the width as per your requirement */
      margin: 0;
      margin-bottom: 15px; /* Adjust the margin as per your requirement */
      font-size: 16px; /* Adjust the font size as per your requirement */
      border: none;
    }
  
    .items {
      flex-direction: column;
    }
  
    .items-content,
    .items-image {
      margin: 10px; /* Adjust the margin as per your requirement */
      text-align: center;
    }
  
    .items-content h2 {
      font-size: 24px; /* Adjust the font size as per your requirement */
    }
  
    .items-content p {
      width: 100%;
      font-size: 12px; /* Adjust the font size as per your requirement */
    }
  
    .feature-2 {
      width: 25%; /* Adjust the width as per your requirement */
      margin-top: -50px; /* Adjust the margin as per your requirement */
    }
  
    .feature-4 {
      width: 80%; /* Adjust the width as per your requirement */
      height: 35%; /* Adjust the height as per your requirement */
      margin-top: -30px; /* Adjust the margin as per your requirement */
    }
  
    .items-content.two {
      margin-top: 20px; /* Adjust the margin as per your requirement */
      padding: 5px; /* Adjust the padding as per your requirement */
      margin-bottom: 30px; /* Adjust the margin as per your requirement */
    }
  
    .items.one,
    .items.three,
    .items.four,
    .items.two {
      padding: 15px; /* Adjust the padding as per your requirement */
    }
  
    .second-p.second {
      font-size: 13px; /* Adjust the font size as per your requirement */
      margin-top: 30px; /* Adjust the margin as per your requirement */
      padding: 10px; /* Adjust the padding as per your requirement */
    }
  
    .faq {
      padding: 30px 8%; /* Adjust the padding as per your requirement */
      font-size: 9px; /* Adjust the font size as per your requirement */
      padding-bottom: 390px; /* Adjust the padding as per your requirement */
      margin-bottom: -280px; /* Adjust the margin as per your requirement */
    }
  
    .faq h2 {
      font-size: 28px; /* Adjust the font size as per your requirement */
    }
  
    .faq-main {
      margin: 50px auto; /* Adjust the margin as per your requirement */
      width: 100%;
      max-width: 600px; /* Adjust the maximum width as per your requirement */
    }
  
    .faq-main li {
      list-style: none;
      width: 100%;
      padding: 5px;
    }
  
    .faq-main li label {
      display: flex;
      align-items: center;
      padding: 16px; /* Adjust the padding as per your requirement */
      font-size: 16px; /* Adjust the font size as per your requirement */
      font-weight: 600;
      background: #303030;
      margin-bottom: 1px; /* Adjust the margin as per your requirement */
      cursor: pointer;
      position: relative;
    }
  
    .faq-main li label::after {
      content: "+";
      position: absolute;
      right: 16px; /* Adjust the right value as per your requirement */
      font-size: 24px; /* Adjust the font size as per your requirement */
      transition: transform 0.3s;
    }
  
    input[type='radio'] {
      display: none;
    }
  
    .faq-main .content {
      font-size: 12px; /* Adjust the font size as per your requirement */
      background: #303030;
      text-align: left;
      padding: 0 16px; /* Adjust the padding as per your requirement */
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
    }
  
    .faq-main input[type='radio']:checked + label + .content {
      max-height: 500px; /* Adjust the max-height as per your requirement */
      padding: 24px 16px; /* Adjust the padding as per your requirement */
    }
  
    .faq-main input[type='radio']:checked + label::after {
      transform: rotate(135deg);
    }
  
    .faq-main label:hover {
      background-color: #525252;
      transition: all 0.5s;
    }
  
    .get-started {
      width: 60%; /* Adjust the width as per your requirement */
      margin: 0;
      margin-bottom: 15px; /* Adjust the margin as per your requirement */
      font-size: 16px; /* Adjust the font size as per your requirement */
      border: none;
    }
  
    .footer-container {
      display: flex;
    }
  
    .column {
      margin-top: 5px; /* Adjust the margin as per your requirement */
    padding: 10px;
    }

  }
  


  /*-----------------------------------------------------------*/
  
/* -------------Styles for screens between 900px and 1300px------------------- */
@media only screen and (min-width: 900px) and (max-width: 1300px) {
  /* Add your responsive styles here */

  header {
    height: 100%;
    background-position: center;
  }

  .logo {
    width: 120px;
    margin-left: 20px;
  }

  .mybtn {
    margin-right: 0;
  }

  .header-content {
    margin-top: 25px;
  }

  .header-content h1 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }

  .first-p {
    font-size: 18px;
    margin-top: -15px;
  }

  .second-p {
    font-size: 16px;
    margin-top: 5px;
    padding: 10px;
  }

  .header-bottom {
    flex-direction: row;
  }

  #myemail {
    max-width: 300px;
      width: 100%; 
      margin-bottom: 19px; 
      padding: 12px; 
      font-size: 12px;
      margin-right: 10px;
    }
  
    .get-started {
        max-width: 150px;
      width: 100%;
      font-size: 16px; 
      border: none;
    }
  .items {
    flex-direction: row;
  }

  .items-content,
  .items-image {
    margin: 10px;
    text-align: center;
  }

  .items-content h2 {
    font-size: 30px;
    padding: 10px;
  }

  .items-content p {
    width: 100%;
    font-size: 12px;
  }

  .feature-2 {
    width: 40%;
    margin-top: -40px;
  }

  .feature-4 {
    width: 40%;
    height: 30%;
    margin-top: -60px;
  }

  .items-content.two {
    margin-top: -20px;
    padding: 5px;
    margin-bottom: 20px;
  }

  .items.one,
  .items.three,
  .items.four,
  .items.two {
    padding: 10px;
  }

  .second-p.second {
    font-size: 14px;
    margin-top: 30px;
    padding: 10px;
  }

  .faq {
    padding: 30px 8%;
    font-size: 8px;
    padding-bottom: 300px;
    margin-bottom: -220px;
  }

  .faq h2 {
    font-size: 24px;
  }

  .faq-main {
    margin: 40px auto;
    width: 100%;
    max-width: 600px;
  }

  .faq-main li {
    list-style: none;
    width: 100%;
    padding: 5px;
  }

  .faq-main li label {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
  }

  .faq-main li label::after {
    content: "+";
    position: absolute;
    right: 15px;
    font-size: 20px;
    transition: transform 0.3s;
  }

  input[type='radio'] {
    display: none;
  }

  .faq-main .content {
    font-size: 12px;
    background: #303030;
    text-align: left;
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }

  .faq-main input[type='radio']:checked + label + .content {
    max-height: 400px;
    padding: 20px 15px;
  }

  .faq-main input[type='radio']:checked + label::after {
    transform: rotate(135deg);
  }

  .faq-main label:hover {
    background-color: #525252;
    transition: all 0.5s;
  }

  .get-started {
    width: 50%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    border: none;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
  }

  .column {
    margin-top: 0;
  }
}
/*-----------------------------------------------------------*/

  


