@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header
{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("netflix-img/images/header-image.png");
    background-size: cover;
    background-position: center;
    position: relative;

}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    margin-top: 18px;
    width: 200px;
    margin-left: 96px;
}

.mybtn
{
    margin-top: 10px;
    margin-right: 200px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

.mybtn button
{
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.eng
{
    background-color: transparent;
    width: 120px;
    color: #fff;
    border: 1px solid #fff;
}

.sign
{
    width: 60px;
    margin-left: 15px;
    width: 80px;
    padding: 20px;
    border: none;
    background-color: #39FF14;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.sign:hover{
    background-color: #1ca70e;
    color: white;
    transition: background-color 0.3s;
}

.globe
{
    float: left;
}

.arrow
{
    float: right;
    margin-right: 4px;
}

.header-content
{
    margin-top: 250px;
    text-align: center;
    color: white;
}

.header-content h1
{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900 bold;
    z-index: 2;
}

.first-p
{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    z-index: 2;
    margin-top: 9px;
}

.second-p
{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.header-bottom
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#myemail
{
    padding: 14px;
    width: 350px;
    margin-left: -20px;
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.get-started
{
    font-size: 22px;
    padding: 13px;
    width: 190px;
    margin-left: 10px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    background-color: #39FF14;
    color: #000000;
    cursor: pointer;

}

input[type="email"]::placeholder
{
    color:#ffffff;
}

input[type="email"]:focus
{
    background-color:rgba(0, 0, 0, 0.5);

}

input[type="email"]:active
{
    background-color:rgba(0, 0, 0, 0.5);

}

.start-arrow
{
    margin-left: 5px;
}

#chevron-right
{
    height: 5px;
    width: 5px;
}

.get-started:hover{
    background-color: #1ca70e;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}


.items
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    /* background-color: #1ca70e; */

}

.items-image.two{
    margin-top: 160px;
    margin-bottom: 100px;
}

.items-content.two{
    margin-top: 160px;
    margin-bottom: 100px;
}



.items-content
{
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom:30px;
}

.items-image
{
    margin-top: 80px;
    margin-bottom:30px;

}



.items-content h2
{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900 bold;
    color: #ffffff;
}

.items-content p
{
    width: 600px;
    font-size: 1.5rem;
    font-family:'Poppins',sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-top: 15px;
    
}

.items-image img
{
    margin-left: 20px;
    width: 85%;
}

.uni-border
{
    width: 100%;
    border: 3px solid darkgray;
    
}

.feature-1
{
    opacity: 0;
    animation: fade-in 2s ease-in-out infinite;
}

@keyframes fade-in
{
    0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

.feature-2
{
    transform: scale(0);
    animation: scale-animation 2s ease-in-out infinite alternate;
}

@keyframes scale-animation
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
    }
}

.feature-3 {
    transform: translateX(-8%);
    animation: third-animation 2s ease-in-out infinite alternate;
}

@keyframes third-animation
{
    0%
    {
        transform: translateX(-8%);
    }

    100%
    {
        transform: translateX(8%);
    }
}

.feature-4
{
    height: 400px;
    transform: rotate(-60deg);
    animation: rotation 2s ease-in-out infinite alternate;
}

@keyframes rotation
{
    0%
    {
        transform: rotate(-60deg);
    }

    100%
    {
        transform: rotate(60deg);
    }
}

.faq
{
    color: #ffffff;
    padding: 50px 12%;
    height: 100%;
    background-color: #000000;
    text-align: center;
    font-size: 18px;
}

.faq h2
{
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

.faq-main
{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.faq-main li 
{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.faq-main li label
{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.faq-main li label::after
{
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 30px;
    transition: transform 0.5s;

}

input[type='radio']
{
    display: none;
}

.faq-main .content
{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}


.faq-main input[type='radio']:checked + label + .content
{
    max-height: 600px;
    padding: 30px 20px;
}

.faq-main input[type='radio']:checked + label::after
{
    transform: rotate(135deg);
}
